@font-face {
  font-family: 'FixelDisplay';
  src: url('../../../public/fonts/FixelDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('../../../public/fonts/FixelDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('../../../public/fonts/FixelDisplay-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('../../../public/fonts/FixelDisplay-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('../../../public/fonts/FixelDisplay-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('../../../public/fonts/FixelDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('../../../public/fonts/FixelDisplay-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FixelDisplay';
  src: url('../../../public/fonts/FixelDisplay-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: $icon-font-family;
  font-style: normal;
  font-weight: normal;
  src: url('../../../public/fonts/icomoon.woff?v1') format('woff');
  font-display: swap;
}
